<header>

<div id="nav">

  <p> BUZZ</p>



  
      <% if(locals.user){ %>
     <a href="/users/profile">
     
     <p>   <%=user.name%>    </p>
    </a>

     <p>
         <a href="/users/sign-out">Sign out</a>
        </p>
         
        

      <%} else { %>

        <p>
            <a href="/users/sign-in">Sign-in</a>
        </p>
        
        <p>
            <a href="/users/sign-up">Sign-up</a>
        </p>
        
    <%}%>
  


</div>

</header>