footer{
    width: 100%;
        position: fixed;        
        background: #333;
        
        color: #fff;
        font-family: cursive;
        height: 40px;
     font-size: large;

     bottom: 0;
}