header{
    width: 100%;
        position: fixed;        
        background: #333;
        
        color: #fff;
        font-family: cursive;
        height: 40px;
     font-size: large;
     top: 0;
     div{
        display: flex;
        justify-content: space-between;
        nav{
            display: inline-block;
            p{
            margin-left: 10px;
        
 display: inline-block;
        
            
        }
       }
}

}

a{
    color:#fff ;
}